<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <unit1>
            <email>
                <recipient_email>
                    <![CDATA[ hello@rltsquare.com ]]>
                </recipient_email>
                <sender_email_identity>rltsquare</sender_email_identity>
                <email_template>email_template_general_rltsquare_email_template</email_template>
            </email>
        </unit1>
    </default>
</config>